# SPDX-FileCopyrightText: © 2025 Phala Network <dstack@phala.network>
#
# SPDX-License-Identifier: Apache-2.0
[Unit]
Description=hello-c (dstack self-contained app)
After=dstack-guest-agent.service

[Service]
ExecStart=/run/sca/bin/entrypoint.sh
Restart=always
RestartSec=2
EnvironmentFile=-/dstack/.host-shared/.decrypted-env

[Install]
WantedBy=multi-user.target
